<h1>Handlebars WebApp</h1>

<p>
    User: {{userName}}
</p>
<p>
    Session ID: {{sessionId}}
</p>
<p>
    Sample Express Webapp that uses the Handlebars template engine for rendering
    and can be integrated into <em>Mashroom</em>.
</p>

<ul>
    <li><a href="{{baseUrl}}/subpage">Goto Subpage</a></li>
    <li><a href="/webapp1">Goto Webapp 1</a></li>
</ul>




